@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
   <div class="header-container">
            <div id="navbar">
               
                    <img src="Images/logo-2x.png"
                        alt="KFORCE - We are strategic partners matching dynamic, cutting-edge companies with innovators, creators, and experts."
                        id="site-logo">
                
                <div id="primary-menu">
                    <ul>
                   <li>  <a href="/">Home</a> </li>
                   <li> <a href="/findTalent/">Find Talents</a> </li>
                    </ul>
                </div>
            </div>
        </div>