<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1064" key="92ccedd5-96ee-4ec1-91b4-e57446b2925c" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2020-09-22T12:21:29" updateDate="2020-09-22T13:34:59" nodeName="Home" urlName="home" path="-1,1064" isDoc="" nodeType="1061" creatorName="Bianca Cardona" writerName="Bianca Cardona" writerID="0" template="1066" nodeTypeAlias="home" isPublished="true">
    <title><![CDATA[COVID-19 Resource Center]]></title>
  </home>
</root>