<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT basicContentControls ANY>
<!ATTLIST basicContentControls id ID #REQUIRED>
]>
<root id="-1">
  <home id="1069" key="ea00104e-cd27-4740-acf6-e64e6c388a54" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2020-09-22T17:59:13" updateDate="2020-09-24T14:50:52" nodeName="Home" urlName="home" path="-1,1069" isDoc="" nodeType="1061" creatorName="Bianca Cardona" writerName="Bianca Cardona" writerID="0" template="1066" nodeTypeAlias="home" isPublished="true">
    <pageTitle><![CDATA[Eget aliquet nibh praesent tristique magna sit. Quam id leo in vitae turpis massa sed elementum.]]></pageTitle>
    <mainContent><![CDATA[<p style="text-align: center;"> </p>
<p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue lacus viverra vitae congue eu consequat ac felis. Lorem ipsum dolor sit amet consectetur adipiscing elit. Risus sed vulputate odio ut enim. Dui sapien eget mi proin sed libero enim sed. Volutpat maecenas volutpat blandit aliquam etiam erat. Mollis nunc sed id semper risus in. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Risus at ultrices mi tempus imperdiet. Egestas purus viverra accumsan in nisl. Lacus sed turpis tincidunt id.</p>
<p style="text-align: justify;">Et pharetra pharetra massa massa. Purus sit amet luctus venenatis lectus magna fringilla urna. Elit ut aliquam purus sit amet. Non tellus orci ac auctor augue mauris augue neque gravida. Turpis tincidunt id aliquet risus feugiat in ante. Accumsan sit amet nulla facilisi morbi tempus iaculis. Eget nulla facilisi etiam dignissim diam. Lorem sed risus ultricies tristique. Odio pellentesque diam volutpat commodo. Egestas fringilla phasellus faucibus scelerisque. Non diam phasellus vestibulum lorem sed risus ultricies.</p>]]></mainContent>
    <titleMobileMode><![CDATA[ Lorem ipsum dolor sit amet]]></titleMobileMode>
    <title><![CDATA[COVID-19 Resource Center]]></title>
    <mainImage><![CDATA[umb://media/db68da768b3c401b94a115724a4112cf]]></mainImage>
  </home>
</root>